<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- Increase static file limit to 250MB (value in bytes) -->
        <requestLimits maxAllowedContentLength="262144000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
